<% include ../partials/header %>
<div cl;ass="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CLT Breweries</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= breweries.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"> $<%= breweries.price %>  / pint</h4>
                    <h4><a><%=breweries.name%></a></h4>
                   <p><%= breweries.description%></p>
                   <p>
                      <em> Submitted By <%= breweries.author.username %></em>
                       </p>
                       
                       <% if(currentUser && breweries.author.id.equals(currentUser._id)){ %>
                           <a class="btn btn-warning" href="/breweries/<%= breweries._id %>/edit">Edit</a>
                           <form class="delete-form" action="/breweries/<%= breweries._id %>?_method=DELETE" method="POST">
                               <button class="btn btn-danger">Delete</button>
                           </form>
                       <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                     <a class="btn btn-info" href="/breweries/<%= breweries._id %>/comments/new">Add New Comments</a>
                </div>
                <hr>
                <% breweries.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                  <strong><%= comment.author.username %></strong>
                    <span class="pull-right">10 days ago</span>
                    <p>
                         <%= comment.text %>
                    </p>
                     <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm btn-warning"
                    href="/breweries/<%= breweries._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form id="delete-form" action="/breweries/<%= breweries._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button  class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                    </div>
                </div>
                   
                <% }) %>
            </div>
        </div>
    </div>
</div>








<% include ../partials/footer %>